.section-specialty {
    margin-top: 20px;
    height: 417px;
    box-sizing: border-box;

    .specialty-container {
        margin: 0 80px;

        .specialty-header {
            height: 60px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 36px;

            .specialty-header-text {
                font-weight: 600;
                color: rgb(26, 26, 26);
                font-size: 24px;
            }

            .specialty-header-button {
                background-color: rgb(218, 243, 246);
                padding: 10px 8px;
                border-radius: 16px;
                text-decoration: none;
                text-align: start;
                color: rgb(52, 146, 158);
                font-weight: 600;
                font-size: 20px;
                cursor: pointer;
            }
        }

        .specialty-body {
            .specialty-content {
                .specialty-content-child {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .specialty-img {
                        width: 80%;
                        border-radius: 16px;
                    }

                    .specialty-text {
                        margin-top: 18px;
                        font-weight: 600;
                        font-size: 16px;
                    }
                }
            }

            .slick-prev {
                border: 1px solid rgb(181, 231, 237) !important;
                left: -40px !important;
                top: 112px !important;
                z-index: 1;
                height: 40px !important;
                width: 40px !important;
                background: rgb(255, 255, 255) !important;
                border-radius: 8px;
            }

            .slick-next {
                border: 1px solid rgb(181, 231, 237) !important;
                right: -40px !important;
                top: 112px !important;
                z-index: 1;
                height: 40px !important;
                width: 40px !important;
                background: rgb(255, 255, 255) !important;
                border-radius: 8px;
            }

            .slick-prev::before,
            .slick-next::before {
                font-family: FontAwesome !important;
                color: rgb(139, 228, 238) !important;
            }

        }
    }

}